*{
    margin: 0;
    padding: 0;
    color: white;
}
.navbar{
    background-color:#be3144;
    height: 70px;
    width: 100%;   
   position: sticky; 
   top: 0;
}

ul{
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
    padding: 20px;
    float: right;
    
}
li{
    margin: 8px;
    display: inline;
    font-size: 2rem;
    line-height: 1.4rem;
    margin: 10px;
}

li:hover{
    background-color:#45567d;
    padding: 20px;
}
.middle{
    background-color:#2e2c2c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle h1{
    font-size: 4rem;
}
.middle p{
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #b31227;
}
.project-section{
    background-color: #45567D;
    padding: 10rem 2rem;
    text-align: center;
    font-size: 3.2rem;
    text-decoration: underline;
    font-weight: 700;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.project {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

a {
    text-decoration: none;
    
}
